<% content_for :header_tags do -%>
  <%= stylesheet_link_tag "remedy_view.css", :plugin => :redmine_remedy_view %>
<% end -%>

<h2><%= l(:label_remedy_view_tickets) %></h2>

<div class="autoscroll">
  <table class="list issues remedy">
    <thead>
      <tr>
        <th>AR #</th>
        <th>
          <%= l(:field_created_on) %><br>
          <%= l(:field_updated_on) %>
        </th>
        <th>TS</th>
        <th><%= l(:field_remedy_ticket_nccd) %></th>
        <th><%= l(:field_remedy_ticket_severity) %></th>
        <th>
          <%= l(:field_remedy_ticket_state) %><br>
          <span class="remedy-smaller"><%= l(:field_remedy_ticket_state_reason) %></span>
        </th>
        <th>
          <%= l(:field_remedy_ticket_short_description) %><br>
          <span class="remedy-smaller"><%= l(:field_remedy_ticket_current_summary) %></span>
        </th>
        <th>
          <%= l(:field_assigned_to) %><br>
          <%= l(:field_remedy_ticket_last_modified_by) %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @ticket_groups.each do |tg| %>
        <% reset_cycle %>
        <% if @ticket_groups.length > 1 %>
          <tr class="group open">
            <td colspan="8">
              <span class="expander" onclick="toggleRowGroup(this);">&nbsp;</span>
              <%= tg[:filter].title %>
              <span class="count"><%= tg[:tickets].length %></span>
              <%= link_to_function("#{l(:button_collapse_all)}/#{l(:button_expand_all)}",
                                   "toggleAllRowGroups(this)", :class => 'toggle-all') %>
            </td>
          </tr>
        <% end %>
        <% tg[:tickets].each do |t| %>
          <% t.calculate_sla %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td class="id">
              <%= link_to t.remedy_id, remedy_ticket_path(@project, t) %>
            </td>
            <td class="created_on">
              <%= format_time(t.actual_reported_date) %><br>
              <%= format_time(t.last_modified_on) %>
            </td>
            <td>
              <span class="remedy <%= t.sla_overall %>"></span>
            </td>
            <td title="<%= format_time(t.next_customer_contact_date) %>">
              <span class="remedy <%= t.sla_nccd %>"></span>
            </td>
            <td class="priority"><%= t.severity_s %></td>
            <td class="status">
              <%= t.state_s %><br>
              <span class="remedy-smaller"><%= t.state_reason %></span>
            </td>
            <td class="subject">
              <%= link_to t.short_description , remedy_ticket_path(@project, t) %><br>
              <div class="remedy-current-summary"><%= t.current_summary %></div>
            </td>
            <td class="assigned_to">
              <%= t.assignee %><br>
              <%= t.last_modified_by %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
