<% content_for :header_tags do -%>
  <%= stylesheet_link_tag "remedy_view.css", :plugin => :redmine_remedy_view %>
<% end -%>
<% heads_for_wiki_formatter %>
<% include_calendar_headers_tags %>

<% my_title = l(:label_remedy_view_ticket) + " AR " + @ticket.remedy_id %>
<% title my_title %>
<h2><%= my_title %></h2>

<div class="issue">
  <div class="subject">
    <h3><%= @ticket.short_description %></h3>
  </div>
  <p class="author">
    <%= l(:label_remedy_view_ticket_added_by) %>
    <strong><%= @ticket.contact_surname %>, <%= @ticket.contact_given_name %></strong>
    <%= l(:label_remedy_view_ticket_added_via) %>
    "<%= @ticket.request_method %>"
  </p>
  <table class="attributes">
    <tr>
      <th><%= l(:field_created_on) %></th>
      <td><%= format_time(@ticket.actual_reported_date) %></td>
      <th><%= l(:field_remedy_ticket_severity) %></th>
      <td><%= @ticket.severity_s %></td>
    </tr>
    <tr>
      <th><%= l(:field_remedy_ticket_request_type) %></th>
      <td><%= @ticket.request_type %></td>
      <th><%= l(:field_remedy_ticket_request_category) %></th>
      <td><%= @ticket.request_category %></td>
    </tr>
    <tr>
      <th><%= l(:field_remedy_ticket_state) %></th>
      <td><%= @ticket.state_s %></td>
      <th><%= l(:field_remedy_ticket_state_reason) %></th>
      <td><%= @ticket.state_reason %></td>
    </tr>
    <tr>
      <th><%= l(:field_remedy_ticket_site_company) %></th>
      <td><%= @ticket.site_company %></td>
      <th><%= l(:field_remedy_ticket_site) %></th>
      <td><%= @ticket.site %></td>
    </tr>
    <tr>
      <th><%= l(:field_remedy_ticket_contact_company) %></th>
      <td><%= @ticket.contact_company %></td>
      <th><%= l(:field_remedy_ticket_contact_email) %></th>
      <td><%= mail_to(h(@ticket.contact_email)) %></td>
    </tr>
    <tr>
      <th><%= l(:field_remedy_ticket_contact_phone) %></th>
      <td><%= @ticket.contact_phone %></td>
      <th><%= l(:field_remedy_ticket_contact_additional) %></th>
      <td><%= mail_to(h(@ticket.additional_contact_info)) %></td>
    </tr>
    <tr>
      <th><%= l(:field_assigned_to) %></th>
      <td><%= @ticket.assignee %></td>
      <th><%= l(:field_updated_on) %></th>
      <td><%= format_time(@ticket.last_modified_on) %></td>
    </tr>
    <tr>
      <th><%= l(:field_remedy_ticket_product) %></th>
      <td><%= @ticket.product %></td>
      <th><%= l(:field_remedy_ticket_product_version) %></th>
      <td><%= @ticket.product_version %></td>
    </tr>
    <tr>
      <th><%= l(:field_remedy_ticket_model) %></th>
      <td><%= @ticket.model %></td>
      <th><%= l(:field_remedy_ticket_customer_ticket) %></th>
      <td><%= @ticket.customer_ticket %></td>
    </tr>
  </table>
  <hr>

  <table class="attributes">
    <tr>
      <th><%= l(:field_remedy_ticket_actual_respond_date) %></th>
      <td><%= format_time(@ticket.actual_respond_date) %></td>
      <th><%= l(:field_remedy_ticket_target_respond_date) %></th>
      <td><%= format_time(@ticket.target_respond_date) %></td>
    </tr>
    <tr>
      <th><%= l(:field_remedy_ticket_actual_restore_date) %></th>
      <td><%= format_time(@ticket.actual_restore_date) %></td>
      <th><%= l(:field_remedy_ticket_target_restore_date) %></th>
      <td><%= format_time(@ticket.target_restore_date) %></td>
    </tr>
    <tr>
      <th><%= l(:field_remedy_ticket_actual_resolve_date) %></th>
      <td><%= format_time(@ticket.actual_resolve_date) %></td>
      <th><%= l(:field_remedy_ticket_target_resolve_date) %></th>
      <td><%= format_time(@ticket.target_resolve_date) %></td>
    </tr>
    <tr>
      <th><%= l(:field_remedy_ticket_actual_closed_date) %></th>
      <td><%= format_time(@ticket.actual_closed_date) %></td>
      <th>&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
  </table>
  <hr>

  <div class="description">
    <p><strong><%=l(:field_remedy_ticket_current_summary)%></strong></p>
    <div class="wiki">
      <%= @ticket.current_summary %>
    </div>
  </div>
  <hr>

  <p><strong><%=l(:label_remedy_view_redmine_issues)%></strong></p>
  <form>
    <table class="list issues remedy">
      <% @ticket.issues.each do |issue| %>
        <tr class="issue" id="issue-<%= issue.id %>">
          <td class="subject">
            <%= h(issue.project) + ' - ' %>
            <%= link_to_issue(issue, :truncate => 60) %>
          </td>
          <td class="status"><%=h issue.status.name %></td>
          <td class="assignee"><%=h issue.assigned_to %></td>
          <td class="start_date"><%= format_date(issue.start_date) %></td>
          <td class="due_date"><%= format_date(issue.due_date) %></td>
        </tr>
      <% end %>
    </table>
  </form>

  <%= form_for :issue,
        :url => remedy_ticket_new_issue_path(@project, @ticket.id),
        :remote => true do |f| %>
    <p>
      <%= l(:label_remedy_view_add_redmine_issue) %>
      <%= f.select :project_id,
            project_tree_options_for_select(@allowed_projects, :selected => @project) %>
      <%= f.submit l(:button_add) %>
    </p>
  <% end %>
</div>

<div id="remedy2issue">
</div>
